{% extends "layout.html" %}
{% block body %}
    <div class="container">
    	<h1>لیست قیمت های فروشگاه خرید اینترنتی پنبه ریز</h1>
    	<h2>آخرین به روز  رسانی  در  {{products[0].updated_at|pDate}}</h2>
    	<table class="table">
    		<thead>
    			<tr>
    				<th>عنوان</th>
                    <th>موجود</th>
    				<th>تعداد( همه انبار ها )</th>
    				<th>قیمت ( با 9% مالیات )</th>
    			</tr>
    		</thead>
    		<tbody>
    			{% for item in products%}
                {% set available = item.count > 0%}
    			<tr id="pr{{item.id}}" style="background: {{'none' if available else "red"}};color:{{'black' if available else "white"}}">
    				<td><a style="color:{{'black' if available else "white"}}" href="{{item.link}}" target="blank">{{item.title}}</a></td>
                    <td>{{'✔' if available else "✘"}}</td>
    				<td>{{item.count}}</td>
    				<td>{{item.price + ((item.price*14)/100)|int}}</td>
    			</tr>
    			{% endfor %}
    		</tbody>
    	</table>
        <p style="text-align: center!important"> make pull reuest at <a href="https://github.com/mojtabaasadi/panberes_price_list">Github</a></p>
    </div>
{% endblock %}